<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CAE Dashboard</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>

  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <div class="col-xs-12">
            <h2>Dashboard</h2>
            <h4>Community Application Editor</h4>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <h3>Status</h3>
          </div>
        </div>
        <div class="row">
          <div id="statusArea"></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-4">
            <button id="cae" class="btn btn-lg restart-btn" type="button">Restart CAE</button>
            <button id="cae" class="btn btn-lg stop-btn" type="button">Stop CAE</button>
          </div>
          <div class="col-xs-4">
            <button id="role" class="btn btn-lg restart-btn" type="button">Restart ROLE</button>
            <button id="role" class="btn btn-lg stop-btn" type="button">Stop ROLE</button>
          </div>
          <div class="col-xs-4">
            <button id="yjs" class="btn btn-lg restart-btn" type="button">Restart y-js server</button>
            <button id="yjs" class="btn btn-lg stop-btn" type="button">Stop y-js server</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <h3>Configuration</h3>
          </div>
          <div class="col-xs-8">
            <span>Model Persistence Service</span>
          </div>
          <div class="col-xs-4">
            <button id="model" class="btn btn-lg upload-btn" type="button">Upload Property File</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <form id="modelPropertyForm">
              <div class="form-group">
                <input type="text" name="jdbcDriverClassName" class="form-control" id="propertyInput1" aria-describedby="propertyHelp1" placeholder="jdbcDriverClassName" value="com.mysql.jdbc.Driver">
                <small id="propertyHelp1" class="form-text text-muted">jdbcDriverClassName</small>
              </div>
              <div class="form-group">
                <input type="text" name="jdbcUrl" class="form-control" id="propertyInput2" aria-describedby="propertyHelp2" placeholder="jdbcUrl" value="jdbc:mysql://localhost:3306/">
                <small id="propertyHelp2" class="form-text text-muted">jdbcUrl</small>
              </div>
              <div class="form-group">
                <input type="text" name="jdbcSchema" class="form-control" id="propertyInput3" aria-describedby="propertyHelp3" placeholder="jdbcSchema" value="commedit">
                <small id="propertyHelp3" class="form-text text-muted">jdbcSchema</small>
              </div>
              <div class="form-group">
                <input type="text" name="jdbcLogin" class="form-control" id="propertyInput4" aria-describedby="propertyHelp4" placeholder="jdbcLogin" value="root">
                <small id="propertyHelp4" class="form-text text-muted">jdbcLogin</small>
              </div>
              <div class="form-group">
                <input type="text" name="jdbcPass" class="form-control" id="propertyInput5" aria-describedby="propertyHelp5" placeholder="jdbcPass" value="pass">
                <small id="propertyHelp5" class="form-text text-muted">jdbcPass</small>
              </div>
              <div class="form-group">
                <input type="text" name="semanticCheckService" class="form-control" id="propertyInput6" aria-describedby="propertyHelp6" placeholder="semanticCheckService">
                <small id="propertyHelp6" class="form-text text-muted">semanticCheckService</small>
              </div>
              <div class="form-group">
                <input type="text" name="codeGenerationService" class="form-control" id="propertyInput7" aria-describedby="propertyHelp7" placeholder="codeGenerationService" value="i5.las2peer.services.codeGenerationService.CodeGenerationService@0.1">
                <small id="propertyHelp7" class="form-text text-muted">codeGenerationService</small>
              </div>
              <button id="modelProperySubmitBtn" type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <span>Code Generation Service</span>
          </div>
          <div class="col-xs-4">
            <button id="code" class="btn btn-lg upload-btn" type="button">Upload Property File</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput1" aria-describedby="propertyHelp1" placeholder="gitUser">
                <small id="propertyHelp1" class="form-text text-muted">gitUser</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput2" aria-describedby="propertyHelp2" placeholder="gitUserMail">
                <small id="propertyHelp2" class="form-text text-muted">gitUserMail</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput3" aria-describedby="propertyHelp3" placeholder="gitOrganization" value="CAE-Community-Application-Editor">
                <small id="propertyHelp3" class="form-text text-muted">gitOrganization</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput4" aria-describedby="propertyHelp4" placeholder="templateRepository" value="CAE-Templates">
                <small id="propertyHelp4" class="form-text text-muted">templateRepository</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput5" aria-describedby="propertyHelp5" placeholder="deploymentRepo" value="CAE-Deployment-Temp">
                <small id="propertyHelp5" class="form-text text-muted">deploymentRepo</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput6" aria-describedby="propertyHelp6" placeholder="gitPassword">
                <small id="propertyHelp6" class="form-text text-muted">gitPassword</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput7" aria-describedby="propertyHelp7" placeholder="useModelSynchronization" value="true">
                <small id="propertyHelp7" class="form-text text-muted">useModelSynchronization</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput8" aria-describedby="propertyHelp8" placeholder="jenkinsUrl">
                <small id="propertyHelp8" class="form-text text-muted">jenkinsUrl</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput9" aria-describedby="propertyHelp9" placeholder="jenkinsJobToken">
                <small id="propertyHelp9" class="form-text text-muted">jenkinsJobToken</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput10" aria-describedby="propertyHelp10" placeholder="buildJobName">
                <small id="propertyHelp10" class="form-text text-muted">buildJobName</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput11" aria-describedby="propertyHelp11" placeholder="dockerJobName">
                <small id="propertyHelp11" class="form-text text-muted">dockerJobName</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput12" aria-describedby="propertyHelp12" placeholder="usedGitHost" value="GitHub">
                <small id="propertyHelp12" class="form-text text-muted">usedGitHost</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput13" aria-describedby="propertyHelp13" placeholder="baseURL" value="https://github.com/">
                <small id="propertyHelp13" class="form-text text-muted">baseURL</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput14" aria-describedby="propertyHelp14" placeholder="token">
                <small id="propertyHelp14" class="form-text text-muted">token</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput15" aria-describedby="propertyHelp15" placeholder="widgetHomeBaseURL" value="http://cloud10.dbis.rwth-aachen.de:8088/">
                <small id="propertyHelp15" class="form-text text-muted">widgetHomeBaseURL</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput16" aria-describedby="propertyHelp16" placeholder="widgetHomeBaseURL" value="https://api.learning-layers.eu/o/oauth2">
                <small id="propertyHelp16" class="form-text text-muted">widgetHomeBaseURL</small>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <span>Web Connector</span>
          </div>
          <div class="col-xs-4">
            <button id="web" class="btn btn-lg upload-btn" type="button">Upload Property File</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput1" aria-describedby="propertyHelp1" placeholder="httpPort" value="8080">
                <small id="propertyHelp1" class="form-text text-muted">httpPort</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput2" aria-describedby="propertyHelp2" placeholder="httpsPort" value="8090">
                <small id="propertyHelp2" class="form-text text-muted">httpsPort</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput3" aria-describedby="propertyHelp3" placeholder="startHttp" value="TRUE">
                <small id="propertyHelp3" class="form-text text-muted">startHttp</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput4" aria-describedby="propertyHelp4" placeholder="startHttps" value="FALSE">
                <small id="propertyHelp4" class="form-text text-muted">startHttps</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput5" aria-describedby="propertyHelp5" placeholder="sslKeystore" value="etc/example.jks">
                <small id="propertyHelp5" class="form-text text-muted">sslKeystore</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput6" aria-describedby="propertyHelp6" placeholder="sslKeyPassword" value="secretpassword">
                <small id="propertyHelp6" class="form-text text-muted">sslKeyPassword</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput7" aria-describedby="propertyHelp7" placeholder="crossOriginResourceDomain" value="*">
                <small id="propertyHelp7" class="form-text text-muted">crossOriginResourceDomain</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput8" aria-describedby="propertyHelp8" placeholder="crossOriginResourceMaxAge" value="60">
                <small id="propertyHelp8" class="form-text text-muted">crossOriginResourceMaxAge</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput9" aria-describedby="propertyHelp9" placeholder="enableCrossOriginResourceSharing" value="TRUE">
                <small id="propertyHelp9" class="form-text text-muted">enableCrossOriginResourceSharing</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput10" aria-describedby="propertyHelp10" placeholder="preferLocalServices" value="TRUE">
                <small id="propertyHelp10" class="form-text text-muted">preferLocalServices</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput11" aria-describedby="propertyHelp11" placeholder="xmlPath">
                <small id="propertyHelp11" class="form-text text-muted">xmlPath</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput12" aria-describedby="propertyHelp12" placeholder="defaultLoginUser" value="anonymous">
                <small id="propertyHelp12" class="form-text text-muted">defaultLoginUser</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput13" aria-describedby="propertyHelp13" placeholder="defaultLoginPassword" value="anonymous">
                <small id="propertyHelp13" class="form-text text-muted">defaultLoginPassword</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="propertyInput14" aria-describedby="propertyHelp14" placeholder="oidcProviders" value="https://api.learning-layers.eu/o/oauth2">
                <small id="propertyHelp14" class="form-text text-muted">oidcProviders</small>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <input id="upload-input" type="file" name="uploads[]"></br>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascript/upload.js"></script>
  <script src="javascript/status.js"></script>
</body>

</html>